.search-filter-container {
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.search-filter-container > h1 {
    font-size: 3rem;
}

.search-filter-inner hr { 
    border-color: gray;
}

.sub-filter{
    flex-direction: column;
    justify-content: center;
}

input[type="range"]::before, input[type="range"]::after{
    position: relative;
    top: 16px;
    color: white;
}

input[type="range"]::before {
    content: attr(min);
    
}

input[type="range"]::after {
    content: attr(currentvalue);
}

select {
    background-color: var(--bg-color);
    color: var(--blog-card-text-color);
    padding-inline-start: 1rem;
    padding-block-start: 0.9rem;
    padding-block-end: 0.9rem;
    cursor: pointer;
}