.blog-card{
    border-radius: 8px;
}

.stats {
    justify-content: center;
    --gap: 3.5rem;
}

.sub-stats {
    justify-content: center;
    --gap: 0.5rem;
}

.price-head {
    justify-content: space-between;
}

.like-icon-container {
    border-width: 1px;
    border-radius: 50%;
    border-style: solid;
    border-color: gray;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
}

.like-icon {
    height: 1.3rem;
}

.blog-card{
    height: 500px;
}